.pedido {
    min-height: 90vh;
    width: min(95rem, 100%);
    margin: auto;
    padding: 1rem 0 2rem;
}

.content {
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vazio {
    padding: 1rem;
    color: #fff;
    font-size: 1.6rem;
    .vazioLink {
        color: #fff;
        font-weight: 600;
    }
}

.notific {
    font-size: 1.5rem;
    color: var(--laranja);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1.5rem;
    font-family: "Anton";
    text-align: center;
    max-width: 24rem;
}

.details {
    margin-top: 1rem;
    h2 {
        font-size: 1.4rem;
        margin-bottom: .5rem;
    }
    .wrapDetails {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h3 {
            font-size: 1.2rem;
        }
        p, li {
            font-size: 1.4rem;
            margin-bottom: .3rem;
        }
    }
}

.wrapInfos {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrapInfos div {
    max-width: 24rem;
    background-color: var(--laranja);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-align: center;
    margin-left: 1rem;
    font-size: 1.4rem;
}

.cancelButton {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}

@media screen and (min-width: 684px) {
    .content {
        justify-content: space-between;
    }
    .notific {
        font-size: 2.5rem;
        padding: 2rem;
        max-width: 100%;
    }
    .details {
        margin-top: 2rem;
        h2 {
            font-size: 1.8rem;
            margin-bottom: .5rem;
        }
        .wrapDetails {
            display: flex;
            gap: 4rem;
            flex-direction: row;
            h3 {
                font-size: 1.4rem;
            }
            p, li {
                font-size: 1.4rem;
                margin-bottom: .5rem;
            }
        }
    }
    .wrapInfos {
        gap: 2rem;
    }
    .wrapInfos div {
        padding: 2rem;
        font-size: 1.6rem;
    }
    .cancelButton {
        margin: 2rem 0;
    }
    .orderId {
        margin: 1.5rem .5rem 2rem;
        .descId {
            font-size: 1.4rem;
            max-width: none;
        }
    }
}

@media screen and (min-width: 968px) {
    .notific {
        padding: 4rem 10rem;
    }
}