.wrapRadio {
    display: flex;
    gap: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.wrapRadio input {
    margin-bottom: 0rem;
}

form {
    padding: 0 1rem;
    min-height: 75vh;
}

.wrapForm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #fff;
}

.wrapForm input {
    margin: .5rem 0 1rem;
    width: min(30rem, 100%);
    border: none;
    border-radius: .5rem;
    font-size: 1.8rem;
    padding: .3rem;
}

.wrapForm label {
    display: block;
}

label, .labelEntrega {
    font-size: 1.8rem;
}

.labelEntrega {
    margin-top: 1rem;
}

.sectionForm{
    width: min(35rem, 100%);
    display: flex;
    flex-direction: column;
}

.wrapCep {
    display: flex;
    align-items: center;
}

.btnCep {
    margin-left: 1rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--laranja);
    color: #fff;
    cursor: pointer;
}

.wrapInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.secondSection {
    width: min(35rem, 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
    gap: 1rem;
}

.total {
    margin-top: .5rem;
    font-weight: 600;
    font-size: 1.2rem
}

select {
    border: 1px solid lightgray;
    border-radius: 10rem;
    padding: .3rem;
    width: 54%;
}

.wrapBtn {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 4rem;
}

.btnCep {
    font-size: 1.8rem;
}

@media  screen and (max-width: 600px){
    .wrapForm {
        min-height: 60vh;
    }
}