.botao {
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--marrom-claro);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    font-family: "Antonio", sans-serif;
    font-weight: 600;
}
