.revisao {
  color: #fff;
  font-size: 1.8rem;
  min-height: 80vh;
  padding: 0 1rem;
  .cardRevisao {
    background-color: var(--marrom-claro);
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h2 {
      font-size: 2rem;
      margin-bottom: .3rem;
    }
    h3 {
      font-size: 1.8rem;
    }
    p {
      margin-bottom: .2rem;
    }
    .btnEdit {
      align-self: flex-end;
    }
    .observation {
      margin-top: 1rem;
    }
  }
  .wrapBtn {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .revisao {
    .wrapCardRevisao {
      min-height: 65vh;
    }
  }
}



