.header {
    width: min(95rem, 100%);
    margin: auto;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.headerList {
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
}

.link {
    color: #000;
}