.header {
    width: min(95rem, 100%);
    margin: auto;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.logo {
    max-width: 6.5rem;
}

.headerList {
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
}

.link {
    color: var(--marrom);
    font-family: "Anton", sans-serif;
}

.hamburger {
    display: none;
}

.underlineLink {
    border-bottom: 3px solid var(--laranja); 
  }
  

@media screen and (max-width: 600px) {
    .headerNav {
        padding: 1rem 2rem;
    }
    .headerList {
        position: absolute;
        top: 5.5rem;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 100%;
        left: 0;
        padding: 2rem 0;
        transition: 0.2s;
        opacity: 0;
        pointer-events: none;
    }
    .headerList.active {
        opacity: 1;
        pointer-events: auto;
    }
    .link {
        transition: .5s;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .line {
        display: flex;
        width: 2rem;
        height: .3rem;
        background-color: var(--marrom);
        margin: .4rem 0;
    }
}