.bannerSobre {
    background-color: var(--marrom);
    .wrapBannerSobre {
        width: min(95rem, 100%);
        margin: auto;
        padding: 2rem 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgTopoSobre {
            display: none;
        }
        .contentSobreTopo {
            max-width: 40rem;
            h1 {
                color: #fff;
                font-size: 1.8rem;
            }
            p {
                color: var(--laranja);
                font-size: 1.3rem;
            }
        }
        .cardsSobre {
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin-top: 1.5rem;
            div {
                background-color: var(--marrom-claro);
                padding: 1rem;
                border-radius: 1rem;
                font-size: 1.2rem;
                max-width: 18rem;
                img {
                    max-width: 2rem;
                    margin-bottom: .4rem;
                }
            }
        }
    }
    @media screen and (min-width: 600px) {
        .wrapBannerSobre {
            flex-direction: row;
            justify-content: space-between;
            padding: 4rem 1rem;
            .imgTopoSobre {
                display: flex;
                max-width: 18rem;
                margin-right: 2rem;
            }
            .contentSobreTopo {
                max-width: 70rem;
                h1 {
                    font-size: 4rem;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 2.4rem;
                }
            }
            .cardsSobre {
                flex-direction: row;
                justify-content: center;
                margin-top: 2.5rem;
                gap: 2rem;
                div {
                    font-size: 1.4rem;
                    max-width: 18rem;
                    img {
                        max-width: 3rem;
                    }
                }
            }
        }
    }
}

.localizacao {
    background-color: var(--laranja);
    .wrapLocalizacao {
        width: min(95rem, 100%);
        margin: auto;
        padding: 2rem 1rem;
        text-align: center;
        h2 {
            color: #fff;
            margin-bottom: 1rem;
        }
        img {
            width: min(25rem, 100%);
        }
        h3 {
            color: var(--marrom);
            margin-top: .5rem;
        }
        .localDesc {
            color: var(--marrom);
            font-size: 1.2rem;
        }
        .wrapInfoLocalizacao {
            font-size: 1.2rem;
            color: #fff;
            margin-top: 1rem;
            p {
                margin-bottom: .5rem;
            }
        }
    }
    @media screen and (min-width: 620px) {
        .wrapLocalizacao {
            padding: 3rem 1rem;
            h2 {
                text-align: start;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            img {
                width: min(40rem, 100%);
            }
            .wrapContentLocalizacao {
                display: flex;
                gap: 5rem;
                align-items: center;
                h3 {
                    font-size: 2.4rem;
                }
                .localDesc {
                    font-size: 2rem;
                }
                .wrapInfoLocalizacao {
                    font-size: 2rem;
                    margin-top: 2rem;
                    display: flex;
                    justify-content: space-evenly;
                    p {
                        margin-bottom: 1rem;
                        max-width: 15rem;
                    }
                }
            }
        }
    }
}

.horarioContato {
    background-color: var(--marrom-claro);
    .wrapHorarioContato {
        width: min(95rem, 100%);
        margin: auto;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        text-align: center;
        table {
            font-size: 1.4rem;
            margin: .5rem 0 1.5rem;
            td {
                padding-right: .5rem;
                text-align: start;
            }
        }
        .wrapContato {
            display: grid;
            gap: 1rem;
            margin-top: 1rem;
            div {
                display: flex;
                background-color: var(--laranja);
                padding: 1rem;
                border-radius: .5rem;
                font-size: 1.3rem;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                img {
                    max-width: 1.5rem;
                }
            }
        }
    }
    @media screen and (min-width: 620px) {
        .wrapHorarioContato {
            text-align: start;
            flex-direction: row;
            align-items: flex-start;
            padding: 3rem 1rem;
            gap: 18rem;
            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            table {
                font-size: 2rem;
                margin-bottom: 0;
                td {
                    padding-right: 4rem;
                    padding-bottom: .5rem;
                }
            }
        }
    }
    @media screen and (min-width: 824px) {
        .wrapHorarioContato {
            .wrapContato {
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                div {
                    font-size: 1.6rem;
                    padding: 1.5rem;
                    flex-direction: column;           
                    img {
                        max-width: 2.5rem;
                    }
                }
            }
        }
    }
}