footer {
    background-color: var(--marrom);
}

.footer {
    width: min(70rem, 100%);
    margin: auto;
    padding: 2rem 0 3rem;
    text-align: center;
    .wrapIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.5rem;
        margin-bottom: 2rem;
        img {
            max-width: 2.5rem;
        }
    }
    .endereco {
        color: #fff;
        font-size: 1.4rem;
        margin-bottom: 2rem;
        text-wrap: balance;
        text-align: center;
        padding: 0 1rem;
    }
    .copyright {
        color: var(--laranja);
        font-size: 1.4rem;
    }
    @media screen and (min-width: 600px) {
        padding: 4rem 0 3rem;
        .wrapIcons {
            margin-bottom: 3rem;
        }
    }
}