.wrapForm {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .paymentOption {
    margin-bottom: .5rem;
    label {
      display: flex;
      align-items: center;
      color: #fff;
      padding: .5rem;
      font-size: 1.8rem;
      cursor: pointer;
      input {
        margin-right: 0.5rem;
      }
    }
  }
}

.messageBox {
  padding: 1rem;
  background-color: var(--laranja);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  border-radius: .5rem;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  color: #fff;
  font-size: 1.6rem;
}

.messageBoxVisible {
  max-height: 100px; 
  opacity: 1;
}

.troco {
  border-radius: .5rem;
  border: none;
  margin-left: .5rem;
  max-width: 5rem;
  padding: .3rem;
}

.wrapItens {
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  div {
    background-color: var(--marrom-claro);  
    height: min(20rem, 100%);
    padding: 1rem;
    border-radius: 1rem;
    align-self: flex-start;
    width: 100%;
    margin-top: 1.5rem;
  }
  .total {
    align-self: flex-end;
    margin-top: 1rem;
  }
}

.wrapBtn {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

@media screen and (min-width: 600px){
  .wrapItens {
    max-width: 22rem;
    div {
      margin-top: 0;
    }
  }
}