.listaProdutos {
    width: min(94.8rem, 100%);
    margin: 2rem auto 5rem;
    min-height: 100vh;
}

.listaProdutos h1 {
    font-size: 1.6rem;
    color: gray;
}

.listaProdutos ul {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.listaProdutos ul li {
    font-size: 1.6rem;
    background-color: lightgray;
    padding: .5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.loading {
    text-align: center;
    margin-top: 6rem;
}

.irCarrinho {
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color: gray;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer
}