.bgCarrinho {
    background-color: var(--marrom-claro);
}

.carrinho {
    width: min(95rem, 100%);
    margin: auto;
    padding: 1rem 0 2rem;
}

.vazio {
    font-size: 1.6rem;
    color: #fff;
    margin-left: 1rem;
    height: 60vh;
}

.linkVazio {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}

.wrapGrid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.wrapProdutos {
    min-height: 80vh;
}

.card {
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

.card img {
    height: 8rem;
    min-width: 9rem;
}

.wrapFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapTitle {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.wrapTitle h3 {
    color: var(--laranja);
    font-size: 1.8rem;
}

.wrapTitle p {
    color: var(--marrom);
    font-size: 1.4rem;
    font-weight: 600;
}

.wrapTitle, .wrapDesc {
    padding-left: 1rem;
}

.desc {
    font-size: 1.3rem;
    color: var(--marrom);
    width: min(35rem, 100%);
    margin-bottom: .5rem;
}

.wrapQtd {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.wrapQtd button {
    border: none;
    background-color: var(--laranja);
    padding: 0rem 1rem;
    color: #fff;
    font-size: 2rem;
    border-radius: .5rem;
}

.wrapQtd p {
    font-size: 1.6rem;
    color: var(--marrom);
}

.wrapFlexEnd {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.total {
    font-size: 1.6rem;
    color: #fff;
    margin: 1rem 0 1.5rem;
}

.wrapTextArea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    font-size: 1.6rem;
}

textarea {
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    height: 5rem;
    resize: none;
}

@media screen and (min-width: 640px) {
    .wrapGrid {
        grid-template-columns: 2fr 1fr;
        gap: 5rem;
    }
    .card img {
        width: min(12rem, 100%);
        height: 9rem;
    }
    .wrapDesc {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        .desc {
            margin-bottom: 0;
        }
    }
    textarea {
        height: 15rem;
    }
}

@media screen and (min-width: 940px) {
    .wrapTitle, .wrapDesc {
        padding-left: 0rem;
    }
}