@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');

:root {
  --laranja: #E48900;
  --marrom: #794800;
  --marrom-claro: #A76400;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Antonio", sans-serif;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  box-sizing: border-box;
  text-wrap: pretty;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  font-family: "Anton", sans-serif;
}

.loading {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

.bgPassosPedido {
  background-color: var(--marrom);
}

.container {
  width: min(95rem, 100%);
  margin: auto;
  padding: 1rem 0 2rem;
}

.containerTitle {
  margin: 1rem; 
  color: #fff;
}