.banner {
    background-color: lightgray;
    overflow-x: hidden; 
}

.content {
    display: flex;
    align-items: center;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
}

.content div {
    text-align: center;
    width: min(53rem, 100%);
}

.content div h1 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

.content div p {
    font-size: 1.4rem;
    margin: .5rem 0;
}

.content img {
    width: min(30rem, 35%);
}

@media (min-width: 600px) {
    .content {
        width: min(95rem, 100%);
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
        height: 65vh;
    }

    .content div {
        text-align: end;
    }

    .content div h1 {
        font-size: 4rem;
    }

    .content div p {
        font-size: 1.8rem;
        margin: 1rem 0;
    }

    .content img {
        padding-left: 2rem;
    }
}