.banner {
    background-color: lightgray;
}

.content {
    width: min(95rem, 100%);
    height: 60vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content div {
    text-align: end;
    width: min(53rem, 100%);
}

.content div h1 {
    font-size: 4rem;
}

.content div p {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.content img {
    width: 30rem;
    padding-left: 2rem;
}