.banner {
    background-color: lightgray;
}

.content {
    width: min(95rem, 100%);
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}